
@{
    ViewBag.Title = "Myprofile";
}

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Myprofile</title>

</head>
<div style="padding-top:50px">

    <h1>Hoş geldin @Session["id"]</h1>

</div>

