
@{
    ViewBag.Title = "VerifyAuth";
}
<head>

    <meta name="viewport" content="width=device-width" />

    <title>Verify Auth</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

</head>
<form method="post">
    <div style="padding-top:50px">
        <div class="row">
            <div class="col-sm-5">
                <input type="text" name="passcode" placeholder="enter 6 digit code here...." class="form-control" /><br /><br />
                <input type="submit" value="Giriş Yap" class="btn btn-success" />
            </div>
            <div class="col-sm-2"><label>Google Authenticator Kare Kod Okutunuz</label></div>
            <div class="col-sm-5">
                <img src="@ViewBag.qrcode" />
            </div>
        </div>
    </div>
</form>
