
@{
    ViewBag.Title = "VerifyAuth";
}
<form method="post">
    <div>
        <input type="text" name="passcode" placeholder="enter 6 digit code here...." /><br /><br />
        <input type="submit" value="verify" />
    </div>
</form>
